{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h1>Books</h1>

    <ol>
    {% for book in all_books %}
        <li>
            {{ book.title }}
            by {{book.author}}
            published in {{book.year_published}}
        </li>
    {% endfor %}
    </ol>
  </body>
</html>
Look back in your views/books/list.py file and review the following two lines at the bottom.

template = 'books/list.html'
context = {
    'all_books': all_books
}

return render(request, template, context)